In [1]:
import pandas as pd
import numpy as np

In [2]:
business_df = pd.read_csv('CSV_files/Final_Clean_Business_Data.csv', index_col=0)

In [3]:
business_df['Postal_Code'] = business_df['Postal_Code'].fillna(0) 
business_df['Postal_Code'] = business_df['Postal_Code'].astype("int64") 
business_df.drop(business_df.loc[business_df['Postal_Code']==0].index, inplace=True)

In [4]:
business_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Alcohol,Good_For_Kids,Reservations,Restaurants_TakeOut,WiFi,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,1,0,0,1,1,0,0,0,1,0
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,1,1,0,1,0,0,1,0,4,0
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,0,1,1,1,1,1,1,4,0
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,1,1,0,1,0,0,0,0,1,0
23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,1,1,1,1,1,0,1,4,0

In [5]:
business_df.count()

Restaurant_ID            27205
Restaurants_Name         27205
Address                  27136
City                     27205
State                    27205
Postal_Code              27205
Latitude                 27205
Longitude                27205
Stars_Rating             27205
Review_Count             27205
Restaurants_Delivery     27205
Outdoor_Seating          27205
Accepts_CreditCards      27205
Price_Range              27205
Alcohol                  27205
Good_For_Kids            27205
Reservations             27205
Restaurants_TakeOut      27205
WiFi                     27205
Good_For_Groups          27205
Wheelchair_Accessible    27205
Happy_Hour               27205
Noise_Level              27205
Dietary_Restrictions     27205
dtype: int64

In [6]:
business_df.dtypes

Restaurant_ID             object
Restaurants_Name          object
Address                   object
City                      object
State                     object
Postal_Code                int64
Latitude                 float64
Longitude                float64
Stars_Rating             float64
Review_Count               int64
Restaurants_Delivery       int64
Outdoor_Seating            int64
Accepts_CreditCards        int64
Price_Range                int64
Alcohol                    int64
Good_For_Kids              int64
Reservations               int64
Restaurants_TakeOut        int64
WiFi                       int64
Good_For_Groups            int64
Wheelchair_Accessible      int64
Happy_Hour                 int64
Noise_Level                int64
Dietary_Restrictions       int64
dtype: object

In [7]:
census_df = pd.read_csv('CSV_files/econ_status_data.csv', low_memory=False)

In [8]:
census_df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,"Percentage_EH<$10,000","Percentage_EH_$10,000-$14,999","Percentage_EH_$15,000-$24,999","Percentage_EH_$25,000-$34,999","Percentage_EH_$35,000-$49,999","Percentage_EH_$50,000-$74,999","Percentage_EH_$75,000-$99,999","Percentage_EH_$100,000-$149,999","Percentage_EH_$150,000-$199,999","Percentage_EH_$200,000<",Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,14.4,17.1,16.6,18.7,11.8,12.8,0.0,8.6,0.0,0.0,25972,35020.0
1,84536,376,110,160,42.3,3.2,14.4,5.9,16.2,10.4,0.0,7.7,0.0,0.0,20385,28507.0
2,85003,4378,942,2928,12.2,4.9,11.0,8.1,14.3,11.9,9.5,10.7,7.5,9.9,48306,82992.0
3,85004,3584,611,2831,20.9,6.8,11.3,4.9,5.3,11.0,13.5,10.1,8.0,8.2,52000,81508.0
4,85006,9471,2635,4473,10.9,8.4,12.1,9.7,13.7,18.4,11.2,10.6,2.4,2.7,43567,56523.0

In [9]:
census_df.count()

Postal_Code                                        9752
Total_Estimate_Households_per_Zip                  9752
Total_Estimate_Married-couple_Family_households    9752
Total_Estimate_Nonfamily_households                9752
Percentage_EH<$10,000                              9583
Percentage_EH_$10,000-$14,999                      9583
Percentage_EH_$15,000-$24,999                      9583
Percentage_EH_$25,000-$34,999                      9583
Percentage_EH_$35,000-$49,999                      9583
Percentage_EH_$50,000-$74,999                      9583
Percentage_EH_$75,000-$99,999                      9583
Percentage_EH_$100,000-$149,999                    9583
Percentage_EH_$150,000-$199,999                    9583
Percentage_EH_$200,000<                            9583
Median_Income(dollars)                             9067
Mean_Income(dollars)                               9383
dtype: int64

In [10]:
census_df.dtypes

Postal_Code                                          int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Percentage_EH<$10,000                              float64
Percentage_EH_$10,000-$14,999                      float64
Percentage_EH_$15,000-$24,999                      float64
Percentage_EH_$25,000-$34,999                      float64
Percentage_EH_$35,000-$49,999                      float64
Percentage_EH_$50,000-$74,999                      float64
Percentage_EH_$75,000-$99,999                      float64
Percentage_EH_$100,000-$149,999                    float64
Percentage_EH_$150,000-$199,999                    float64
Percentage_EH_$200,000<                            float64
Median_Income(dollars)                              object
Mean_Income(dollars)                               float64
dtype: object

In [11]:
merged_df = pd.merge( business_df, census_df, left_on='Postal_Code', right_on='Postal_Code', how='left')

In [12]:
merged_df.count()

Restaurant_ID                                      27215
Restaurants_Name                                   27215
Address                                            27146
City                                               27215
State                                              27215
Postal_Code                                        27215
Latitude                                           27215
Longitude                                          27215
Stars_Rating                                       27215
Review_Count                                       27215
Restaurants_Delivery                               27215
Outdoor_Seating                                    27215
Accepts_CreditCards                                27215
Price_Range                                        27215
Alcohol                                            27215
Good_For_Kids                                      27215
Reservations                                       27215
Restaurants_TakeOut                                27215
WiFi                                               27215
Good_For_Groups                                    27215
Wheelchair_Accessible                              27215
Happy_Hour                                         27215
Noise_Level                                        27215
Dietary_Restrictions                               27215
Total_Estimate_Households_per_Zip                  24819
Total_Estimate_Married-couple_Family_households    24819
Total_Estimate_Nonfamily_households                24819
Percentage_EH<$10,000                              24779
Percentage_EH_$10,000-$14,999                      24779
Percentage_EH_$15,000-$24,999                      24779
Percentage_EH_$25,000-$34,999                      24779
Percentage_EH_$35,000-$49,999                      24779
Percentage_EH_$50,000-$74,999                      24779
Percentage_EH_$75,000-$99,999                      24779
Percentage_EH_$100,000-$149,999                    24779
Percentage_EH_$150,000-$199,999                    24779
Percentage_EH_$200,000<                            24779
Median_Income(dollars)                             24758
Mean_Income(dollars)                               24769
dtype: int64

In [13]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,"Percentage_EH_$15,000-$24,999","Percentage_EH_$25,000-$34,999","Percentage_EH_$35,000-$49,999","Percentage_EH_$50,000-$74,999","Percentage_EH_$75,000-$99,999","Percentage_EH_$100,000-$149,999","Percentage_EH_$150,000-$199,999","Percentage_EH_$200,000<",Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,6.9,8.4,11.0,16.3,10.3,13.0,6.6,11.1,60676,91522.0
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,11.5,14.0,19.6,23.0,13.0,7.8,2.0,0.9,47114,55452.0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,2.5,4.1,4.5,15.9,11.3,16.9,15.2,24.7,116368,162885.0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,6.9,6.7,9.1,13.6,12.0,16.2,9.7,17.9,86147,128426.0
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,11.7,11.6,17.4,18.8,11.7,11.3,3.2,3.4,48782,65655.0

In [14]:
merged_df.tail()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,"Percentage_EH_$15,000-$24,999","Percentage_EH_$25,000-$34,999","Percentage_EH_$35,000-$49,999","Percentage_EH_$50,000-$74,999","Percentage_EH_$75,000-$99,999","Percentage_EH_$100,000-$149,999","Percentage_EH_$150,000-$199,999","Percentage_EH_$200,000<",Median_Income(dollars),Mean_Income(dollars)
27210,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,55,...,5.2,7.9,8.8,19.6,13.8,19.5,10.5,7.6,76854,95665.0
27211,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201,36.163875,-86.776311,4.0,204,...,0.0,2.6,4.5,13.1,29.2,9.0,4.7,18.1,92827,120146.0
27212,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702,43.616590,-116.202383,4.5,998,...,7.8,9.6,8.0,18.1,11.4,11.6,8.5,14.3,68165,114580.0
27213,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,...,8.2,12.5,16.3,24.2,13.1,12.1,2.2,3.2,55688,67108.0
27214,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,...,6.9,6.7,9.1,13.6,12.0,16.2,9.7,17.9,86147,128426.0

In [15]:
merge_clean = merged_df.dropna(subset=['Median_Income(dollars)'])

In [16]:
merge_clean.count()

Restaurant_ID                                      24758
Restaurants_Name                                   24758
Address                                            24700
City                                               24758
State                                              24758
Postal_Code                                        24758
Latitude                                           24758
Longitude                                          24758
Stars_Rating                                       24758
Review_Count                                       24758
Restaurants_Delivery                               24758
Outdoor_Seating                                    24758
Accepts_CreditCards                                24758
Price_Range                                        24758
Alcohol                                            24758
Good_For_Kids                                      24758
Reservations                                       24758
Restaurants_TakeOut                                24758
WiFi                                               24758
Good_For_Groups                                    24758
Wheelchair_Accessible                              24758
Happy_Hour                                         24758
Noise_Level                                        24758
Dietary_Restrictions                               24758
Total_Estimate_Households_per_Zip                  24758
Total_Estimate_Married-couple_Family_households    24758
Total_Estimate_Nonfamily_households                24758
Percentage_EH<$10,000                              24758
Percentage_EH_$10,000-$14,999                      24758
Percentage_EH_$15,000-$24,999                      24758
Percentage_EH_$25,000-$34,999                      24758
Percentage_EH_$35,000-$49,999                      24758
Percentage_EH_$50,000-$74,999                      24758
Percentage_EH_$75,000-$99,999                      24758
Percentage_EH_$100,000-$149,999                    24758
Percentage_EH_$150,000-$199,999                    24758
Percentage_EH_$200,000<                            24758
Median_Income(dollars)                             24758
Mean_Income(dollars)                               24758
dtype: int64

In [17]:
population_df = pd.read_csv('CSV_files/population_data.csv', low_memory=False)

In [18]:
population_df.head()

   Unnamed: 0  Postal_Code  Population
0           0          602      108502
1           1          603      117092
2           2          606       10579
3           3          610       34457
4           4          612       67536

In [19]:
population_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [20]:
population_df.head()

   Postal_Code  Population
0          602      108502
1          603      117092
2          606       10579
3          610       34457
4          612       67536

In [29]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33119 entries, 0 to 33118
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Postal_Code  33119 non-null  int64
 1   Population   33119 non-null  int64
dtypes: int64(2)
memory usage: 517.6 KB

In [21]:
New_merge_df = pd.merge(merge_clean, population_df, left_on='Postal_Code', right_on='Postal_Code', how='left')

In [22]:
New_merge_df.count()

Restaurant_ID                                      24758
Restaurants_Name                                   24758
Address                                            24700
City                                               24758
State                                              24758
Postal_Code                                        24758
Latitude                                           24758
Longitude                                          24758
Stars_Rating                                       24758
Review_Count                                       24758
Restaurants_Delivery                               24758
Outdoor_Seating                                    24758
Accepts_CreditCards                                24758
Price_Range                                        24758
Alcohol                                            24758
Good_For_Kids                                      24758
Reservations                                       24758
Restaurants_TakeOut                                24758
WiFi                                               24758
Good_For_Groups                                    24758
Wheelchair_Accessible                              24758
Happy_Hour                                         24758
Noise_Level                                        24758
Dietary_Restrictions                               24758
Total_Estimate_Households_per_Zip                  24758
Total_Estimate_Married-couple_Family_households    24758
Total_Estimate_Nonfamily_households                24758
Percentage_EH<$10,000                              24758
Percentage_EH_$10,000-$14,999                      24758
Percentage_EH_$15,000-$24,999                      24758
Percentage_EH_$25,000-$34,999                      24758
Percentage_EH_$35,000-$49,999                      24758
Percentage_EH_$50,000-$74,999                      24758
Percentage_EH_$75,000-$99,999                      24758
Percentage_EH_$100,000-$149,999                    24758
Percentage_EH_$150,000-$199,999                    24758
Percentage_EH_$200,000<                            24758
Median_Income(dollars)                             24758
Mean_Income(dollars)                               24758
Population                                         24758
dtype: int64

In [23]:
Final_merge_df = New_merge_df.dropna(subset=['Population'])

In [24]:
Final_merge_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,"Percentage_EH_$25,000-$34,999","Percentage_EH_$35,000-$49,999","Percentage_EH_$50,000-$74,999","Percentage_EH_$75,000-$99,999","Percentage_EH_$100,000-$149,999","Percentage_EH_$150,000-$199,999","Percentage_EH_$200,000<",Median_Income(dollars),Mean_Income(dollars),Population
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,8.4,11.0,16.3,10.3,13.0,6.6,11.1,60676,91522.0,27034
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,14.0,19.6,23.0,13.0,7.8,2.0,0.9,47114,55452.0,34174
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,4.1,4.5,15.9,11.3,16.9,15.2,24.7,116368,162885.0,24172
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,6.7,9.1,13.6,12.0,16.2,9.7,17.9,86147,128426.0,57253
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,11.6,17.4,18.8,11.7,11.3,3.2,3.4,48782,65655.0,94481

In [25]:
Final_merge_df.count()

Restaurant_ID                                      24758
Restaurants_Name                                   24758
Address                                            24700
City                                               24758
State                                              24758
Postal_Code                                        24758
Latitude                                           24758
Longitude                                          24758
Stars_Rating                                       24758
Review_Count                                       24758
Restaurants_Delivery                               24758
Outdoor_Seating                                    24758
Accepts_CreditCards                                24758
Price_Range                                        24758
Alcohol                                            24758
Good_For_Kids                                      24758
Reservations                                       24758
Restaurants_TakeOut                                24758
WiFi                                               24758
Good_For_Groups                                    24758
Wheelchair_Accessible                              24758
Happy_Hour                                         24758
Noise_Level                                        24758
Dietary_Restrictions                               24758
Total_Estimate_Households_per_Zip                  24758
Total_Estimate_Married-couple_Family_households    24758
Total_Estimate_Nonfamily_households                24758
Percentage_EH<$10,000                              24758
Percentage_EH_$10,000-$14,999                      24758
Percentage_EH_$15,000-$24,999                      24758
Percentage_EH_$25,000-$34,999                      24758
Percentage_EH_$35,000-$49,999                      24758
Percentage_EH_$50,000-$74,999                      24758
Percentage_EH_$75,000-$99,999                      24758
Percentage_EH_$100,000-$149,999                    24758
Percentage_EH_$150,000-$199,999                    24758
Percentage_EH_$200,000<                            24758
Median_Income(dollars)                             24758
Mean_Income(dollars)                               24758
Population                                         24758
dtype: int64

In [26]:
Final_merge_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                  float64
Total_Estimate_Married-couple_Family_households    float64
Total_Estimate_Nonfamily_households                float64
Percentage_EH<$10,000                              float64
Percentage_EH_$10,000-$14,999                      float64
Percentage_EH_$15,000-$24,999                      float64
Percentage_EH_$25,000-$34,999                      float64
Percentage_EH_$35,000-$49,999                      float64
Percentage_EH_$50,000-$74,999                      float64
Percentage_EH_$75,000-$99,999                      float64
Percentage_EH_$100,000-$149,999                    float64
Percentage_EH_$150,000-$199,999                    float64
Percentage_EH_$200,000<                            float64
Median_Income(dollars)                              object
Mean_Income(dollars)                               float64
Population                                           int64
dtype: object

In [27]:
# Final_merge_df['Mean_Income(dollars)'] = Final_merge_df['Mean_Income(dollars)'].astype("int64")

In [28]:
Final_merge_df.to_csv('CSV_files/merged_datasets.csv')