In [1]:
import pandas as pd
import numpy as np

In [2]:
business_df = pd.read_csv('CSV_files/Business.csv')

In [3]:
business_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Alcohol,Good_For_Kids,Reservations,Restaurants_TakeOut,WiFi,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,1,0,0,1,1,0,0,0,1,0
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,1,1,0,1,0,0,1,0,4,0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,0,1,1,1,1,1,1,4,0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,1,1,0,1,0,0,0,0,1,0
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,1,1,1,1,1,0,1,4,0

In [4]:
# business_df.dtypes

In [5]:
business_df.count()

Restaurant_ID            27205
Restaurants_Name         27205
Address                  27136
City                     27205
State                    27205
Postal_Code              27205
Latitude                 27205
Longitude                27205
Stars_Rating             27205
Review_Count             27205
Restaurants_Delivery     27205
Outdoor_Seating          27205
Accepts_CreditCards      27205
Price_Range              27205
Alcohol                  27205
Good_For_Kids            27205
Reservations             27205
Restaurants_TakeOut      27205
WiFi                     27205
Good_For_Groups          27205
Wheelchair_Accessible    27205
Happy_Hour               27205
Noise_Level              27205
Dietary_Restrictions     27205
dtype: int64

In [6]:
census_df = pd.read_csv('CSV_files/Census_income.csv')

In [7]:
census_df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,25972,35020
1,84536,376,110,160,20385,28507
2,85003,4378,942,2928,48306,82992
3,85004,3584,611,2831,52000,81508
4,85006,9471,2635,4473,43567,56523

In [8]:
census_df.count()

Postal_Code                                        9045
Total_Estimate_Households_per_Zip                  9045
Total_Estimate_Married-couple_Family_households    9045
Total_Estimate_Nonfamily_households                9045
Median_Income(dollars)                             9045
Mean_Income(dollars)                               9045
dtype: int64

In [9]:
# census_df.dtypes

In [10]:
census_df.dropna(axis=0, inplace=True)

In [11]:
census_df.count()

Postal_Code                                        9045
Total_Estimate_Households_per_Zip                  9045
Total_Estimate_Married-couple_Family_households    9045
Total_Estimate_Nonfamily_households                9045
Median_Income(dollars)                             9045
Mean_Income(dollars)                               9045
dtype: int64

In [12]:
merged_df = pd.merge(business_df, census_df, left_on='Postal_Code', right_on='Postal_Code', how='inner')

In [13]:
merged_df.count()

Restaurant_ID                                      24739
Restaurants_Name                                   24739
Address                                            24681
City                                               24739
State                                              24739
Postal_Code                                        24739
Latitude                                           24739
Longitude                                          24739
Stars_Rating                                       24739
Review_Count                                       24739
Restaurants_Delivery                               24739
Outdoor_Seating                                    24739
Accepts_CreditCards                                24739
Price_Range                                        24739
Alcohol                                            24739
Good_For_Kids                                      24739
Reservations                                       24739
Restaurants_TakeOut                                24739
WiFi                                               24739
Good_For_Groups                                    24739
Wheelchair_Accessible                              24739
Happy_Hour                                         24739
Noise_Level                                        24739
Dietary_Restrictions                               24739
Total_Estimate_Households_per_Zip                  24739
Total_Estimate_Married-couple_Family_households    24739
Total_Estimate_Nonfamily_households                24739
Median_Income(dollars)                             24739
Mean_Income(dollars)                               24739
dtype: int64

In [14]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823,1743,5771,60676,91522
1,WYYdQDjx-DsCanlP0DpImQ,J Sushi,243 S 10th St,Philadelphia,PA,19107,39.947033,-75.157434,4.5,72,...,1,1,0,4,0,7823,1743,5771,60676,91522
2,ngvE1G9IckUO-ljZBFo23w,Mumbai Bistro,930 Locust St,Philadelphia,PA,19107,39.947207,-75.157252,4.0,217,...,0,0,0,1,0,7823,1743,5771,60676,91522
3,IgNDlyLERBwFGphgcC5VDQ,Cosi,1128 Walnut St,Philadelphia,PA,19107,39.948751,-75.160449,2.5,63,...,1,0,0,4,0,7823,1743,5771,60676,91522
4,L_sXNadtVHjxMw7Yhvkj9Q,Naoki Ramen,915 Race St,Philadelphia,PA,19107,39.955454,-75.154900,4.0,92,...,1,0,0,2,0,7823,1743,5771,60676,91522

In [15]:
merged_df.tail()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
24734,IFUgn1pFknZQ9OpN9EmyYw,Hudock's Frozen Custard Stand,544 Salem Quinton Rd,Salem,NJ,8079,39.560427,-75.448576,4.0,35,...,1,0,0,2,0,4018,1397,1574,42077,67275
24735,tZy556-b1uO9pcy0WsumIA,Charlie's Restaurant & Catering,6129 E Saint Bernard Hwy,Violet,LA,70092,29.900428,-89.901686,4.0,71,...,1,0,0,2,0,2690,1417,624,44753,62162
24736,jMStvE-tQzSpRCAO0nAE6g,Red Robin Gourmet Burgers and Brews,4605 S Landing Way,Tucson,AZ,32246,32.167311,-110.986422,3.0,159,...,1,0,1,4,0,21387,9033,8741,61730,76508
24737,r4oV3EWnJX-1hjhNcKMI7w,Ortino's Northside,1355 Gravel Pike,Perkiomenville,PA,18074,40.291583,-75.481124,3.5,32,...,1,0,1,4,0,2298,1512,495,99333,132779
24738,NagkUmgLHFd1s8RTk1tcKw,Old Father Inn,4080 W Ina Rd,Marana,AZ,85653,32.338120,-111.053073,3.0,38,...,1,0,1,4,0,7057,4108,1844,70131,77213

In [16]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
dtype: object

In [17]:
merged_df.columns

Index(['Restaurant_ID', 'Restaurants_Name', 'Address', 'City', 'State',
       'Postal_Code', 'Latitude', 'Longitude', 'Stars_Rating', 'Review_Count',
       'Restaurants_Delivery', 'Outdoor_Seating', 'Accepts_CreditCards',
       'Price_Range', 'Alcohol', 'Good_For_Kids', 'Reservations',
       'Restaurants_TakeOut', 'WiFi', 'Good_For_Groups',
       'Wheelchair_Accessible', 'Happy_Hour', 'Noise_Level',
       'Dietary_Restrictions', 'Total_Estimate_Households_per_Zip',
       'Total_Estimate_Married-couple_Family_households',
       'Total_Estimate_Nonfamily_households', 'Median_Income(dollars)',
       'Mean_Income(dollars)'],
      dtype='object')

In [18]:
merged_df.dropna(subset=['Total_Estimate_Households_per_Zip',
       'Total_Estimate_Married-couple_Family_households',
       'Total_Estimate_Nonfamily_households', 'Median_Income(dollars)',
       'Mean_Income(dollars)'
       ], axis=0, inplace=True)

In [19]:
merged_df.count()

Restaurant_ID                                      24739
Restaurants_Name                                   24739
Address                                            24681
City                                               24739
State                                              24739
Postal_Code                                        24739
Latitude                                           24739
Longitude                                          24739
Stars_Rating                                       24739
Review_Count                                       24739
Restaurants_Delivery                               24739
Outdoor_Seating                                    24739
Accepts_CreditCards                                24739
Price_Range                                        24739
Alcohol                                            24739
Good_For_Kids                                      24739
Reservations                                       24739
Restaurants_TakeOut                                24739
WiFi                                               24739
Good_For_Groups                                    24739
Wheelchair_Accessible                              24739
Happy_Hour                                         24739
Noise_Level                                        24739
Dietary_Restrictions                               24739
Total_Estimate_Households_per_Zip                  24739
Total_Estimate_Married-couple_Family_households    24739
Total_Estimate_Nonfamily_households                24739
Median_Income(dollars)                             24739
Mean_Income(dollars)                               24739
dtype: int64

In [20]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
dtype: object

In [21]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823,1743,5771,60676,91522
1,WYYdQDjx-DsCanlP0DpImQ,J Sushi,243 S 10th St,Philadelphia,PA,19107,39.947033,-75.157434,4.5,72,...,1,1,0,4,0,7823,1743,5771,60676,91522
2,ngvE1G9IckUO-ljZBFo23w,Mumbai Bistro,930 Locust St,Philadelphia,PA,19107,39.947207,-75.157252,4.0,217,...,0,0,0,1,0,7823,1743,5771,60676,91522
3,IgNDlyLERBwFGphgcC5VDQ,Cosi,1128 Walnut St,Philadelphia,PA,19107,39.948751,-75.160449,2.5,63,...,1,0,0,4,0,7823,1743,5771,60676,91522
4,L_sXNadtVHjxMw7Yhvkj9Q,Naoki Ramen,915 Race St,Philadelphia,PA,19107,39.955454,-75.154900,4.0,92,...,1,0,0,2,0,7823,1743,5771,60676,91522

In [22]:
merged_df['Total_Estimate_Households_per_Zip'] = merged_df['Total_Estimate_Households_per_Zip'].astype('int64')
merged_df['Total_Estimate_Married-couple_Family_households'] = merged_df['Total_Estimate_Married-couple_Family_households'].astype('int64') 
merged_df['Total_Estimate_Nonfamily_households'] = merged_df['Total_Estimate_Nonfamily_households'].astype('int64')
merged_df['Median_Income(dollars)'] = merged_df['Median_Income(dollars)'].astype('int64')
merged_df['Mean_Income(dollars)'] = merged_df['Mean_Income(dollars)'].astype('int64')

In [23]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
dtype: object

In [24]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823,1743,5771,60676,91522
1,WYYdQDjx-DsCanlP0DpImQ,J Sushi,243 S 10th St,Philadelphia,PA,19107,39.947033,-75.157434,4.5,72,...,1,1,0,4,0,7823,1743,5771,60676,91522
2,ngvE1G9IckUO-ljZBFo23w,Mumbai Bistro,930 Locust St,Philadelphia,PA,19107,39.947207,-75.157252,4.0,217,...,0,0,0,1,0,7823,1743,5771,60676,91522
3,IgNDlyLERBwFGphgcC5VDQ,Cosi,1128 Walnut St,Philadelphia,PA,19107,39.948751,-75.160449,2.5,63,...,1,0,0,4,0,7823,1743,5771,60676,91522
4,L_sXNadtVHjxMw7Yhvkj9Q,Naoki Ramen,915 Race St,Philadelphia,PA,19107,39.955454,-75.154900,4.0,92,...,1,0,0,2,0,7823,1743,5771,60676,91522

In [25]:
# population_df = pd.read_csv('CSV_files/Census_population_final.csv')

In [26]:
# population_df.head()

In [27]:
# population_df.info()

In [28]:
# New_merge_df = pd.merge(merged_df, population_df, left_on='Postal_Code', right_on='Postal_Code', how='left')

In [29]:
# New_merge_df.count()

In [30]:
# New_merge_df.dtypes

In [31]:
# New_merge_df.dropna(subset=['Population'], axis=0, inplace=True)

In [32]:
# New_merge_df['Population'] = New_merge_df['Population'].astype('int64')

In [33]:
# New_merge_df.count()

In [34]:
# New_merge_df.head()

In [35]:
# New_merge_df.dtypes

In [36]:
# New_merge_df.isnull().sum()

In [37]:
# New_merge_df.to_csv('CSV_files/new_merged_datasets.csv', index=False)

In [39]:
merged_df.to_csv('CSV_files/business_census_merged_dataset.csv', index=False)