In [1]:
import pandas as pd
import numpy as np

In [2]:
business_df = pd.read_csv('CSV_files/Business.csv')

In [3]:
business_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Alcohol,Good_For_Kids,Reservations,Restaurants_TakeOut,WiFi,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,1,0,0,1,1,0,0,0,1,0
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,1,1,0,1,0,0,1,0,4,0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,0,1,1,1,1,1,1,4,0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,1,1,0,1,0,0,0,0,1,0
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,1,1,1,1,1,0,1,4,0

In [4]:
business_df.dtypes

Restaurant_ID             object
Restaurants_Name          object
Address                   object
City                      object
State                     object
Postal_Code                int64
Latitude                 float64
Longitude                float64
Stars_Rating             float64
Review_Count               int64
Restaurants_Delivery       int64
Outdoor_Seating            int64
Accepts_CreditCards        int64
Price_Range                int64
Alcohol                    int64
Good_For_Kids              int64
Reservations               int64
Restaurants_TakeOut        int64
WiFi                       int64
Good_For_Groups            int64
Wheelchair_Accessible      int64
Happy_Hour                 int64
Noise_Level                int64
Dietary_Restrictions       int64
dtype: object

In [5]:
business_df.count()

Restaurant_ID            27205
Restaurants_Name         27205
Address                  27136
City                     27205
State                    27205
Postal_Code              27205
Latitude                 27205
Longitude                27205
Stars_Rating             27205
Review_Count             27205
Restaurants_Delivery     27205
Outdoor_Seating          27205
Accepts_CreditCards      27205
Price_Range              27205
Alcohol                  27205
Good_For_Kids            27205
Reservations             27205
Restaurants_TakeOut      27205
WiFi                     27205
Good_For_Groups          27205
Wheelchair_Accessible    27205
Happy_Hour               27205
Noise_Level              27205
Dietary_Restrictions     27205
dtype: int64

In [6]:
census_df = pd.read_csv('CSV_files/Census_income.csv')

In [7]:
census_df.head()

,Postal_Code,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,84531,187,58,42,25972,35020
1,84536,376,110,160,20385,28507
2,85003,4378,942,2928,48306,82992
3,85004,3584,611,2831,52000,81508
4,85006,9471,2635,4473,43567,56523

In [8]:
census_df.count()

Postal_Code                                        9045
Total_Estimate_Households_per_Zip                  9045
Total_Estimate_Married-couple_Family_households    9045
Total_Estimate_Nonfamily_households                9045
Median_Income(dollars)                             9045
Mean_Income(dollars)                               9045
dtype: int64

In [9]:
census_df.dtypes

Postal_Code                                        int64
Total_Estimate_Households_per_Zip                  int64
Total_Estimate_Married-couple_Family_households    int64
Total_Estimate_Nonfamily_households                int64
Median_Income(dollars)                             int64
Mean_Income(dollars)                               int64
dtype: object

In [10]:
census_df.dropna(axis=0, inplace=True)

In [11]:
census_df.count()

Postal_Code                                        9045
Total_Estimate_Households_per_Zip                  9045
Total_Estimate_Married-couple_Family_households    9045
Total_Estimate_Nonfamily_households                9045
Median_Income(dollars)                             9045
Mean_Income(dollars)                               9045
dtype: int64

In [12]:
merged_df = pd.merge(business_df, census_df, left_on='Postal_Code', right_on='Postal_Code', how='left')

In [13]:
merged_df.count()

Restaurant_ID                                      27205
Restaurants_Name                                   27205
Address                                            27136
City                                               27205
State                                              27205
Postal_Code                                        27205
Latitude                                           27205
Longitude                                          27205
Stars_Rating                                       27205
Review_Count                                       27205
Restaurants_Delivery                               27205
Outdoor_Seating                                    27205
Accepts_CreditCards                                27205
Price_Range                                        27205
Alcohol                                            27205
Good_For_Kids                                      27205
Reservations                                       27205
Restaurants_TakeOut                                27205
WiFi                                               27205
Good_For_Groups                                    27205
Wheelchair_Accessible                              27205
Happy_Hour                                         27205
Noise_Level                                        27205
Dietary_Restrictions                               27205
Total_Estimate_Households_per_Zip                  24739
Total_Estimate_Married-couple_Family_households    24739
Total_Estimate_Nonfamily_households                24739
Median_Income(dollars)                             24739
Mean_Income(dollars)                               24739
dtype: int64

In [14]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823.0,1743.0,5771.0,60676.0,91522.0
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,0,1,0,4,0,13316.0,4622.0,6530.0,47114.0,55452.0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,1,1,4,0,7625.0,2113.0,5180.0,116368.0,162885.0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,0,0,0,1,0,18239.0,6207.0,10326.0,86147.0,128426.0
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,0,1,4,0,18616.0,6344.0,8448.0,48782.0,65655.0

In [15]:
merged_df.tail()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
27200,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,55,...,0,0,0,4,0,16980.0,6799.0,8312.0,76854.0,95665.0
27201,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201,36.163875,-86.776311,4.0,204,...,1,1,1,4,0,620.0,99.0,521.0,92827.0,120146.0
27202,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702,43.616590,-116.202383,4.5,998,...,1,0,0,4,0,11069.0,4230.0,5804.0,68165.0,114580.0
27203,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,...,1,0,0,3,0,16351.0,7148.0,7028.0,55688.0,67108.0
27204,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,...,1,0,0,1,0,18239.0,6207.0,10326.0,86147.0,128426.0

In [16]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                  float64
Total_Estimate_Married-couple_Family_households    float64
Total_Estimate_Nonfamily_households                float64
Median_Income(dollars)                             float64
Mean_Income(dollars)                               float64
dtype: object

In [17]:
merged_df.columns

Index(['Restaurant_ID', 'Restaurants_Name', 'Address', 'City', 'State',
       'Postal_Code', 'Latitude', 'Longitude', 'Stars_Rating', 'Review_Count',
       'Restaurants_Delivery', 'Outdoor_Seating', 'Accepts_CreditCards',
       'Price_Range', 'Alcohol', 'Good_For_Kids', 'Reservations',
       'Restaurants_TakeOut', 'WiFi', 'Good_For_Groups',
       'Wheelchair_Accessible', 'Happy_Hour', 'Noise_Level',
       'Dietary_Restrictions', 'Total_Estimate_Households_per_Zip',
       'Total_Estimate_Married-couple_Family_households',
       'Total_Estimate_Nonfamily_households', 'Median_Income(dollars)',
       'Mean_Income(dollars)'],
      dtype='object')

In [18]:
merged_df.dropna(subset=['Total_Estimate_Households_per_Zip',
       'Total_Estimate_Married-couple_Family_households',
       'Total_Estimate_Nonfamily_households', 'Median_Income(dollars)',
       'Mean_Income(dollars)'
       ], axis=0, inplace=True)

In [19]:
merged_df.count()

Restaurant_ID                                      24739
Restaurants_Name                                   24739
Address                                            24681
City                                               24739
State                                              24739
Postal_Code                                        24739
Latitude                                           24739
Longitude                                          24739
Stars_Rating                                       24739
Review_Count                                       24739
Restaurants_Delivery                               24739
Outdoor_Seating                                    24739
Accepts_CreditCards                                24739
Price_Range                                        24739
Alcohol                                            24739
Good_For_Kids                                      24739
Reservations                                       24739
Restaurants_TakeOut                                24739
WiFi                                               24739
Good_For_Groups                                    24739
Wheelchair_Accessible                              24739
Happy_Hour                                         24739
Noise_Level                                        24739
Dietary_Restrictions                               24739
Total_Estimate_Households_per_Zip                  24739
Total_Estimate_Married-couple_Family_households    24739
Total_Estimate_Nonfamily_households                24739
Median_Income(dollars)                             24739
Mean_Income(dollars)                               24739
dtype: int64

In [20]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                  float64
Total_Estimate_Married-couple_Family_households    float64
Total_Estimate_Nonfamily_households                float64
Median_Income(dollars)                             float64
Mean_Income(dollars)                               float64
dtype: object

In [21]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823.0,1743.0,5771.0,60676.0,91522.0
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,0,1,0,4,0,13316.0,4622.0,6530.0,47114.0,55452.0
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,1,1,4,0,7625.0,2113.0,5180.0,116368.0,162885.0
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,0,0,0,1,0,18239.0,6207.0,10326.0,86147.0,128426.0
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,0,1,4,0,18616.0,6344.0,8448.0,48782.0,65655.0

In [22]:
merged_df['Total_Estimate_Households_per_Zip'] = merged_df['Total_Estimate_Households_per_Zip'].astype('int64')
merged_df['Total_Estimate_Married-couple_Family_households'] = merged_df['Total_Estimate_Married-couple_Family_households'].astype('int64') 
merged_df['Total_Estimate_Nonfamily_households'] = merged_df['Total_Estimate_Nonfamily_households'].astype('int64')
merged_df['Median_Income(dollars)'] = merged_df['Median_Income(dollars)'].astype('int64')
merged_df['Mean_Income(dollars)'] = merged_df['Mean_Income(dollars)'].astype('int64')

In [23]:
merged_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
dtype: object

In [24]:
merged_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Good_For_Groups,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars)
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,1,0,7823,1743,5771,60676,91522
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,0,1,0,4,0,13316,4622,6530,47114,55452
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,1,1,4,0,7625,2113,5180,116368,162885
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,0,0,0,1,0,18239,6207,10326,86147,128426
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,1,0,1,4,0,18616,6344,8448,48782,65655

In [25]:
population_df = pd.read_csv('CSV_files/Census_population_final.csv')

In [26]:
population_df.head()

   Population  Postal_Code
0       41520          602
1       54689          603
2       24597          617
3        7853          622
4       43061          623

In [27]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21469 entries, 0 to 21468
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Population   21469 non-null  int64
 1   Postal_Code  21469 non-null  int64
dtypes: int64(2)
memory usage: 335.6 KB

In [28]:
New_merge_df = pd.merge(merged_df, population_df, left_on='Postal_Code', right_on='Postal_Code', how='left')

In [29]:
New_merge_df.count()

Restaurant_ID                                      24739
Restaurants_Name                                   24739
Address                                            24681
City                                               24739
State                                              24739
Postal_Code                                        24739
Latitude                                           24739
Longitude                                          24739
Stars_Rating                                       24739
Review_Count                                       24739
Restaurants_Delivery                               24739
Outdoor_Seating                                    24739
Accepts_CreditCards                                24739
Price_Range                                        24739
Alcohol                                            24739
Good_For_Kids                                      24739
Reservations                                       24739
Restaurants_TakeOut                                24739
WiFi                                               24739
Good_For_Groups                                    24739
Wheelchair_Accessible                              24739
Happy_Hour                                         24739
Noise_Level                                        24739
Dietary_Restrictions                               24739
Total_Estimate_Households_per_Zip                  24739
Total_Estimate_Married-couple_Family_households    24739
Total_Estimate_Nonfamily_households                24739
Median_Income(dollars)                             24739
Mean_Income(dollars)                               24739
Population                                         15597
dtype: int64

In [30]:
New_merge_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
Population                                         float64
dtype: object

In [31]:
New_merge_df.dropna(subset=['Population'], axis=0, inplace=True)

In [32]:
New_merge_df['Population'] = New_merge_df['Population'].astype('int64')

In [33]:
New_merge_df.count()

Restaurant_ID                                      15597
Restaurants_Name                                   15597
Address                                            15561
City                                               15597
State                                              15597
Postal_Code                                        15597
Latitude                                           15597
Longitude                                          15597
Stars_Rating                                       15597
Review_Count                                       15597
Restaurants_Delivery                               15597
Outdoor_Seating                                    15597
Accepts_CreditCards                                15597
Price_Range                                        15597
Alcohol                                            15597
Good_For_Kids                                      15597
Reservations                                       15597
Restaurants_TakeOut                                15597
WiFi                                               15597
Good_For_Groups                                    15597
Wheelchair_Accessible                              15597
Happy_Hour                                         15597
Noise_Level                                        15597
Dietary_Restrictions                               15597
Total_Estimate_Households_per_Zip                  15597
Total_Estimate_Married-couple_Family_households    15597
Total_Estimate_Nonfamily_households                15597
Median_Income(dollars)                             15597
Mean_Income(dollars)                               15597
Population                                         15597
dtype: int64

In [34]:
New_merge_df.head()

,Restaurant_ID,Restaurants_Name,Address,City,State,Postal_Code,Latitude,Longitude,Stars_Rating,Review_Count,...,Wheelchair_Accessible,Happy_Hour,Noise_Level,Dietary_Restrictions,Total_Estimate_Households_per_Zip,Total_Estimate_Married-couple_Family_households,Total_Estimate_Nonfamily_households,Median_Income(dollars),Mean_Income(dollars),Population
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,1,0,7823,1743,5771,60676,91522,14875
2,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,1,1,4,0,7625,2113,5180,116368,162885,11740
3,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,0,0,1,0,18239,6207,10326,86147,128426,36228
4,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502,39.476117,-119.789339,2.5,339,...,0,1,4,0,18616,6344,8448,48782,65655,43566
6,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,...,0,1,4,0,18239,6207,10326,86147,128426,36228

In [35]:
New_merge_df.dtypes

Restaurant_ID                                       object
Restaurants_Name                                    object
Address                                             object
City                                                object
State                                               object
Postal_Code                                          int64
Latitude                                           float64
Longitude                                          float64
Stars_Rating                                       float64
Review_Count                                         int64
Restaurants_Delivery                                 int64
Outdoor_Seating                                      int64
Accepts_CreditCards                                  int64
Price_Range                                          int64
Alcohol                                              int64
Good_For_Kids                                        int64
Reservations                                         int64
Restaurants_TakeOut                                  int64
WiFi                                                 int64
Good_For_Groups                                      int64
Wheelchair_Accessible                                int64
Happy_Hour                                           int64
Noise_Level                                          int64
Dietary_Restrictions                                 int64
Total_Estimate_Households_per_Zip                    int64
Total_Estimate_Married-couple_Family_households      int64
Total_Estimate_Nonfamily_households                  int64
Median_Income(dollars)                               int64
Mean_Income(dollars)                                 int64
Population                                           int64
dtype: object

In [36]:
New_merge_df.isnull().sum()

Restaurant_ID                                       0
Restaurants_Name                                    0
Address                                            36
City                                                0
State                                               0
Postal_Code                                         0
Latitude                                            0
Longitude                                           0
Stars_Rating                                        0
Review_Count                                        0
Restaurants_Delivery                                0
Outdoor_Seating                                     0
Accepts_CreditCards                                 0
Price_Range                                         0
Alcohol                                             0
Good_For_Kids                                       0
Reservations                                        0
Restaurants_TakeOut                                 0
WiFi                                                0
Good_For_Groups                                     0
Wheelchair_Accessible                               0
Happy_Hour                                          0
Noise_Level                                         0
Dietary_Restrictions                                0
Total_Estimate_Households_per_Zip                   0
Total_Estimate_Married-couple_Family_households     0
Total_Estimate_Nonfamily_households                 0
Median_Income(dollars)                              0
Mean_Income(dollars)                                0
Population                                          0
dtype: int64

In [37]:
New_merge_df.to_csv('CSV_files/new_merged_datasets.csv', index=False)